.header{
  text-align: center;
}


.App {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}


.persons{
  width: 30%;
  border: 1px solid black;
  border-radius: 3px;
  margin-top: 2%;
  margin-bottom: 2%;
}